h1 {
  text-align: center;
}

.navbar ul {
  list-style-type: none;
  text-align: center;
  color: black;
}

.navbar a {
  padding: 10px;
  text-decoration: none;
  display: block;
  color: black;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

.navbar a:hover {
  background-color: red;
}
